{{define "reserveFormTable"}}
<tr>
    <td>
        <div>{{ . }}</div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_0" name="reserve" value="{{ . }}_{{ 0 }}">
            <label for="reserveCheckbox{{ . }}_0"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_1" name="reserve" value="{{ . }}_{{ 1 }}">
            <label for="reserveCheckbox{{ . }}_1"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_2" name="reserve" value="{{ . }}_{{ 2 }}">
            <label for="reserveCheckbox{{ . }}_2"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_3" name="reserve" value="{{ . }}_{{ 3 }}">
            <label for="reserveCheckbox{{ . }}_3"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_4" name="reserve" value="{{ . }}_{{ 4 }}">
            <label for="reserveCheckbox{{ . }}_4"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_5" name="reserve" value="{{ . }}_{{ 5 }}">
            <label for="reserveCheckbox{{ . }}_5"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_6" name="reserve" value="{{ . }}_{{ 6 }}">
            <label for="reserveCheckbox{{ . }}_6"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_7" name="reserve" value="{{ . }}_{{ 7 }}">
            <label for="reserveCheckbox{{ . }}_7"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_8" name="reserve" value="{{ . }}_{{ 8 }}">
            <label for="reserveCheckbox{{ . }}_8"></label>
        </div>
    </td>
    <td>　
        <div>
            <input type="checkbox" id="reserveCheckbox{{ . }}_9" name="reserve" value="{{ . }}_{{ 9 }}">
            <label for="reserveCheckbox{{ . }}_9"></label>
        </div>
    </td>
</tr>
{{end}}